 body { 
    font-family: 'Inter', sans-serif;
 }

.gradient-dark { 
    background: linear-gradient(135deg, #111827 0%, #000000 100%); 
}

.accent-gradient { 
    background: linear-gradient(90deg, #f59e0b 0%, #d97706 100%); 
}

